{% extends getUcdTemplate('base') %}

{% from '@ucdlib-special/macros/subject.twig' import teaser %}
{% from getUcdMacro('links') import pagination %}
{% from getUcdMacro('media') import image_title_banner %}

{% block hero_image %}
    {{ image_title_banner(term.heroImage) }}
{% endblock %}

{% block content_container %}

<div class="l-container {{sidebar ? 'l-basic--flipped'}}">
  <div class="l-content">

    <div class="panel panel--intro o-box">
        {% if term.subjectHeading %}
            <h2 class="panel__title">{{term.subjectHeading}}</h2>
        {% endif %}
        <section class='u-space-mb--large'>
            <p>{{term.description}}</p>
        </section>
        {% if posts %}
        <ul class="list--arrow">
            {% for post in posts %}
                <li style="margin-bottom: 1em;">
                    {{ teaser(post) }}
                </li>
            {% endfor %}
        </ul>
        {{ pagination({"pagination": posts.pagination}) }}
        {% else %}
        <div class="alert">No {{title}} posts found!</div>
        {% endif %}
    </div>
    </div>
    {% if sidebar %}
        <div class="l-sidebar-second">
        {{sidebar}}
        </div>
    {% endif %}
    </div>
{% endblock %}
