{% extends getUcdTemplate('base') %}

{% block content %}
  <p>{{foo}}</p>
  <div>
    <ucdlib-hours-today
      api-host="{{site.site_url}}"
      location="{{post.ID}}"
      show-children
    ></ucdlib-hours-today>
  </div>
  {{dump(post.core_data)}}
  {{post.content}}
{% endblock %}

