{% extends getUcdTemplate('base') %}

{% block content_container %}
<div class="l-container l-basic--flipped">
  <div class="l-content">
    <div class="o-box"></div>
    <ucdlib-hours
    api-host="{{site.site_url}}"
  ></ucdlib-hours>
  <p>{{foo}}</p>
  <div>
    {#
    <ucdlib-hours-today
      api-host="{{site.site_url}}"
      location="{{post.ID}}"
      show-children
    ></ucdlib-hours-today>
    #}
  </div>
  {{dump(post.core_data)}}
  {{post.content}}
  </div>
  <div class="l-sidebar-second">
    <div class="o-box">
      <ucdlib-hours-today-simple
        api-host="{{site.site_url}}"
        location="{{post.ID}}"
      >
      </ucdlib-hours-today-simple>
    </div>
  </div>
</div>

{% endblock %}

