{% from "@ucdlib-directory/macros/person.twig" import teaser, contact, no_results %}
{% if attributes.departments %}
  {% set departments = attributes.departments|filter(v => v.people|length) %}
{% endif %}
{% if departments %}
  {% for department in departments %}
    <div class='u-space-mb--large'>
      <div class='u-space-mb'>
        <h2>{{department.post.title}}</h2>
        {% if department.post.description %}
          <p class='text-bold u-space-mb--small'>{{department.post.description}}</p>
        {% endif %}
        {{contact(department.post, 'text--smaller text-bold vm-teaser--person__contact')}}
      </div>
      <div>
        {% for person in department.people %}
          {{teaser(person)}}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% elseif attributes.people %}
  {% for person in attributes.people %}
    {{teaser(person)}}
  {% endfor %}
{% else %}
  {{ no_results() }}
{% endif %}