{% from "@ucdlib-directory/macros/person.twig" import teaser, contact, no_results %}
{% if attributes.departments %}
  {% set departments = attributes.departments|filter(v => v.people|length) %}
{% endif %}
{% if departments %}
  {% for department in departments %}
    <div class='u-space-mb--large'>
      <div class='u-space-mb'>
        <h2>{{department.post.title}}</h2>
        {% if department.post.description %}
          <p class='text-bold u-space-mb--small'>{{department.post.description}}</p>
        {% endif %}
        {{contact(department.post, 'contact-info--department text--smaller text-bold vm-teaser--person__contact')}}
      </div>
      <div>
        {{_self.people_teasers(department.people, attributes)}}
      </div>
    </div>
  {% endfor %}
{% elseif attributes.people %}
  <div>
    {{_self.people_teasers(attributes.people, attributes)}}
  </div>
{% else %}
  {{ no_results() }}
{% endif %}

{% macro people_teasers(people, attributes) %}
  {% if attributes.columns == 'two' %}
    {% for row in people|batch(2) %}
      <div class='l-2col'>
        {% for person in row %}
          <div class='panel {{loop.first ? "l-first" : "l-second"}}'>{{teaser(person, {showExpertise: attributes.showExpertise})}}</div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    {% for person in people %}
      {{teaser(person, {showExpertise: attributes.showExpertise})}}
    {% endfor %}
  {% endif %}
{% endmacro %}
