{% macro teaser(person, kwargs={}) %}
  <article class='vm-teaser vm-teaser--person'>
    {% if person.teaser_image %}
        <div class="vm-teaser__figure" style="width:20%;max-width:135px;" role='img' aria-label='{{person.teaser_image.alt}}'>
          <a aria-label="{{person.name_first}} {{person.name_last}}" href="{{person.link}}" style="display:block;background-image:url({{person.teaser_image.src}})" class="aspect--1x1 u-background-image">
        </a>
      </div>
    {% endif %}
    <div class="vm-teaser__body">
      <div class="vm-teaser__title"><a href="{{person.link}}">{{person.name_first}} {{person.name_last}}</a></div>
      {% if person.positionTitle or person.department %}
        <ul class='u-space-mb--small list--pipe'>
          {% if person.positionTitle %}
            <li>{{person.positionTitle}}</li>
          {% endif %}
          {% for department in person.departments %}
            <li>{{department.title}}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if kwargs.showExpertise and person.expertiseAreas %}
        <div class='u-space-mb--small'>
         <span>Expertise: </span>
          {% apply spaceless %}
            {% for tag in person.expertiseAreas %}
              <span>{{tag.name}}</span>
              {% if not loop.last and loop.length > 1 %}
                <span>, </span>
              {% endif %}
            {% endfor %}
          {% endapply %}
        </div>
      {% endif %}
      {{_self.contact(person, 'text--smaller u-space-mb--small vm-teaser--person__contact')}}
      {% if person.libraries %}
        <div>
          {{_self.library_locations(person)}}
        </div>
      {% endif %}
    </div>
  </article>
{% endmacro %}

{% macro no_results() %}
  <div class='alert'>Sorry, no people match your search.</div>
{% endmacro %}

{% macro library_locations(person) %}
  {% if person.libraries %}
    <span class="icon icon--location">
      {% for library in person.libraries %}
        <span>{{library.name}}</span>
        {%- if not loop.last and loop.length > 1 -%}
          <span>, </span>
        {%- endif -%}
      {% endfor %}
    </span>
  {% endif %}
{% endmacro %}

{% macro contact(person, class) %}
  {% if person.contactInfo.contact and not person.contactInfo.hide %}
    <ul class="contact-info list--pipe {{class ? class}}">
      {% for contact in person.contactInfo.contact %}
        <li>
          <a class="icon-ucdlib" href="{{contact.link}}">
            <ucdlib-icon icon="{{contact.icon}}"></ucdlib-icon><div>{{contact.label}}</div>
          </a>
          {% if contact.additionalText %}
            <span class='additional-text'>&nbsp;({{contact.additionalText}})</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
