{% if args.label_for == slug~'_field_host' %}
  <input 
    id="{{args.label_for}}" 
    class="regular-text code"
    name="{{optionsSlug}}[{{args.label_for}}]" 
    type="text"
    value="{{options[args.label_for]}}"
    required>
  <p class="description">
  <code>https://ssodev.ucdavis.edu/cas</code> is the development server. It does not require registration.
  </p>
  <p class="description">
  <code>https://cas.ucdavis.edu/cas</code> is the production server. You must <a href="https://casmgr.ucdavis.edu/">register this site</a>.
  </p>
{% endif %}

{% if args.label_for == slug~'_field_port' %}
  <input 
    id="{{args.label_for}}" 
    class="small-text"
    name="{{optionsSlug}}[{{args.label_for}}]" 
    type="text"
    value="{{options[args.label_for]}}"
    required>
  <p class="description">This is almost always going to be '443'</p>
{% endif %}

{% if args.label_for == slug~'_field_uri' %}
  <input 
    id="{{args.label_for}}" 
    class="regular-text code"
    name="{{optionsSlug}}[{{args.label_for}}]" 
    type="text"
    value="{{options[args.label_for]}}"
    required>
  <p class="description">
  UC Davis CAS servers are located at the <code>cas</code> URI
  </p>
{% endif %}

{% if args.label_for == slug~'_field_validation' %}
  <input 
    id="{{args.label_for}}" 
    class=""
    name="{{optionsSlug}}[{{args.label_for}}]" 
    type="checkbox"
    value="1"
    {{options[args.label_for] == "1" ? 'checked'}}>
  <p class="description">Enables SSL validation of the CAS server</p>
{% endif %}

{% if args.label_for == slug~'_field_validation_path' %}
  <input 
    id="{{args.label_for}}" 
    class="regular-text code"
    name="{{optionsSlug}}[{{args.label_for}}]" 
    type="text"
    value="{{options[args.label_for]}}">
  <p class="description">
  If using SSL validation, enter path to CA certificate that is the issuer of the CAS cert
  </p>
{% endif %}